<div class="container-fluid">
  <!--<div class="row">
    <div class="col-md-12 m-0 alert alert-success gka-alert" role="alert">
      A simple primary alert—check it out!
    </div>
  </div>-->
  <div class="row justify-content-md-center">
    <main role="main" class="col-12 col-md-10">
      <div class="row justify-content-md-center">
        <div class="col-md-12 gka-buttons">
          <button type="button" class="btn gka-button gka-button_primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>
          <div class="modal gka-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Model Content will be coming here. Could be anything, Video, Image, List, table, Form Or simple text. all goes here.
                  The size in width of modal will remain fixed but height will be dynamic and as per content.
                  <div class="table-responsive has-scroll">
                    <table class="table table-md table-bordered gka-table">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header longer</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                        <td>sit</td>
                      </tr>
                      <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                        <td>elit</td>
                      </tr>
                      <tr>
                        <td>1,003</td>
                        <td>Integer</td>
                        <td>nec</td>
                        <td>odio</td>
                        <td>Praesent</td>
                        <td>Praesent</td>
                      </tr>
                      <tr>
                        <td>1,003</td>
                        <td>libero</td>
                        <td>Sed</td>
                        <td>cursus</td>
                        <td>ante</td>
                        <td>ante</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn gka-button gka-button_secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn gka-button gka-button_primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center gka-stats mt-3">
        <div class="col-md-6">
          <div class="card">
            <div class="d-flex flex-column">
              <div class="card-header">
                2,457
              </div>
              <div class="card-body">
                <h5 class="value">Pending Orders</h5>
              </div>
            </div>
            <div class="card--statics">
              <div class="card--statics_up card--statics_arrow">&#x2191;</div>
              <div class="card--statics_down card--statics_arrow">&#x2193;</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="d-flex flex-column">
              <div class="card-header">
                1,457
              </div>
              <div class="card-body">
                <h5 class="value">Pending Reviews</h5>
              </div>
            </div>
            <div class="card--statics">
              <div class="card--statics_up card--statics_arrow">&#x2191;</div>
              <div class="card--statics_down card--statics_arrow">&#x2193;</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center gka-stats mt-3 mb-3">
        <div class="col-md-6">
          <div class="card">
            <div class="d-flex flex-column">
              <div class="card-header">
                92,457
              </div>
              <div class="card-body">
                <h5 class="value">Registered Users</h5>
              </div>
            </div>
            <div class="card--statics">
              <div class="card--statics_up card--statics_arrow">&#x2191;</div>
              <div class="card--statics_down card--statics_arrow">&#x2193;</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="d-flex flex-column">
              <div class="card-header">
                2,457
              </div>
              <div class="card-body">
                <h5 class="value">Online Users</h5>
              </div>
            </div>
            <div class="card--statics">
              <div class="card--statics_up card--statics_arrow">&#x2191;</div>
              <div class="card--statics_down card--statics_arrow">&#x2193;</div>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav gka-tabs flex-column flex-sm-row mt-6 sticky sticky-top">
        <a class="flex-fill text-sm-center nav-link gka-tabs--tab active" href="#">Active Tab</a>
        <a class="flex-fill text-sm-center nav-link gka-tabs--tab" href="#">Link Tab</a>
        <a class="flex-fill text-sm-center nav-link gka-tabs--tab" href="#">Link Tab</a>
        <a class="flex-fill text-sm-center nav-link gka-tabs--tab" href="#">Link Tab</a>
      </nav>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mt-3 pb-2 mb-3 border-bottom">
        <h1 class="section-title">Default table layout</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
      <div class="table-responsive has-scroll">
        <table class="table table-md table-bordered gka-table">
          <thead>
          <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header longer</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <td>sit</td>
            <td>sit</td>
          </tr>
          <tr>
            <td>1,002</td>
            <td>amet</td>
            <td>consectetur</td>
            <td>adipiscing</td>
            <td>elit</td>
            <td>elit</td>
          </tr>
          <tr>
            <td>1,003</td>
            <td>Integer</td>
            <td>nec</td>
            <td>odio</td>
            <td>Praesent</td>
            <td>Praesent</td>
          </tr>
          <tr>
            <td>1,003</td>
            <td>libero</td>
            <td>Sed</td>
            <td>cursus</td>
            <td>ante</td>
            <td>ante</td>
          </tr>
          <tr>
            <td>1,004</td>
            <td>dapibus</td>
            <td>diam</td>
            <td>Sed</td>
            <td>nisi</td>
            <td>nisi</td>
          </tr>
          <tr>
            <td>1,005</td>
            <td>Nulla</td>
            <td>quis</td>
            <td>sem</td>
            <td>at</td>
            <td>at</td>
          </tr>
          <tr>
            <td>1,006</td>
            <td>nibh</td>
            <td>elementum</td>
            <td>imperdiet</td>
            <td>Duis</td>
            <td>Duis</td>
          </tr>
          <tr>
            <td>1,007</td>
            <td>sagittis</td>
            <td>ipsum</td>
            <td>Praesent</td>
            <td>mauris</td>
            <td>mauris</td>
          </tr>
          <tr>
            <td>1,008</td>
            <td>Fusce</td>
            <td>nec</td>
            <td>tellus</td>
            <td>sed</td>
            <td>sed</td>
          </tr>
          <tr>
            <td>1,009</td>
            <td>augue</td>
            <td>semper</td>
            <td>porta</td>
            <td>Mauris</td>
            <td>Mauris</td>
          </tr>
          <tr>
            <td>1,010</td>
            <td>massa</td>
            <td>Vestibulum</td>
            <td>lacinia</td>
            <td>arcu</td>
            <td>arcu</td>
          </tr>
          <tr>
            <td>1,011</td>
            <td>eget</td>
            <td>nulla</td>
            <td>Class</td>
            <td>aptent</td>
            <td>aptent</td>
          </tr>
          <tr>
            <td>1,012</td>
            <td>taciti</td>
            <td>sociosqu</td>
            <td>ad</td>
            <td>litora</td>
            <td>litora</td>
          </tr>
          <tr>
            <td>1,013</td>
            <td>torquent</td>
            <td>per</td>
            <td>conubia</td>
            <td>nostra</td>
            <td>nostra</td>
          </tr>
          <tr>
            <td>1,014</td>
            <td>per</td>
            <td>inceptos</td>
            <td>himenaeos</td>
            <td>Curabitur</td>
            <td>Curabitur</td>
          </tr>
          <tr>
            <td>1,015</td>
            <td>sodales</td>
            <td>ligula</td>
            <td>in</td>
            <td>libero</td>
            <td>libero</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-md-center mb-3 mt-3">
        <div class="col-md-12 gka-buttons flex-wrap">
          <a href="#" class="btn gka-button gka-button_primary gka-button--small"><span>button small </span></a>
          <a href="#" class="btn gka-button gka-button_primary"><span>Normal</span></a>
          <a href="#" class="btn gka-button gka-button_primary gka-button--big"><span>button large</span></a>
          <a href="#" class="btn gka-button gka-button_secondary"><span>Secondary</span></a>
          <a href="#" class="btn gka-button gka-button_secondary"><span>Secondary Button</span></a>
        </div>
      </div>
      <form class=" pt-3 mt-3 pb-5 mb-3 ">
        <div class="row pt-3 mt-3 ">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center w-100">
            <h1 class="section-title">Default form layout</h1>
          </div>
        </div>
        <div class="row pt-3 mt-3 ">
          <h1 class="heading-tertiary text-center">Forms are flexible for sizing. Every thing grows and shrinks with content and font-sizes</h1>
        </div>
        <div class="row mt-3 pt-3 pb-2 ">
          <h5 class="heading-secondary">Text Input fields</h5>
        </div>
        <!--
                    <div class="row d-flex pt-3 mt-3 pt-3 pb-2 ">
                      <div class="col-md-3">
                        <div class="form-element ">
                          <div class="text-input">
                            <input type="text" placeholder="some text here" class="input text-input_default" value="&nbsp;"/>
                            <label>Input
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-element">
                          <div class="text-input">
                          <input type="text" placeholder="" class="input text-input_success" value="">
                          <label>Sucess Input</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-element">
                          <div class="text-input">
                            <input type="text" placeholder="" class="input text-input_warning" value="">
                            <label>
                            Warning Input
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-element">
                          <div class="text-input">
                            <input type="text" placeholder="" class="input text-input_failure" value="">
                            <label>Error Input</label>
                          </div>
                        </div>
                      </div>
                    </div>
        -->
        <div class="row d-flex pt-3 mt-3 pt-3 pb-2">
          <div class="col-6 col-md-3">
            <div class="form-element">
              <input class="gka-text-input gka-text-input_default" type="text" id="text-default" placeholder="Default Input">
              <label for="text-default">Default Input</label>
              <span class="gka-text-input--border">
                      <i></i>
                    </span>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-element">
              <input class="gka-text-input gka-text-input_success" type="text" placeholder="Correct Input">
              <label >Correct Input</label>
              <span class="gka-text-input--border">
                      <i></i>
                  </span>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-element">
              <input class="gka-text-input gka-text-input_warning" type="text" placeholder="Input with Warning">
              <label>Input with Warning</label>
              <span class="gka-text-input--border">
                      <i></i>
                  </span>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="form-element">
              <input class="gka-text-input gka-text-input_error" type="text" placeholder="Input with Errors">
              <label>Input with Errors</label>
              <span class="gka-text-input--border">
                      <i></i>
                  </span>
            </div>
          </div>
        </div>
        <div class="row mt-0 mt-md-5 pt-3 pb-2 ">
          <h5 class="heading-secondary">File Input</h5>
        </div>
        <div class="row d-flex pt-3 mt-3 pb-2 ">
          <div class="col-md-5">
            <div class="form-element ">
              <div class="file-input">
                <label class="file-input--label" for="fileInputDefault">
                  <span class="file-input--label_text">Choose a file</span>
                  <span class="file-input_btn">Browse</span>

                  <input type="file" class="input input-default" value="&nbsp;" id="fileInputDefault"/>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-0 mt-md-5 pt-3 pb-2">
          <h5 class="heading-secondary">Check boxes</h5>
        </div>
        <div class="row d-flex pt-3 pb-2">
          <div class="col-4">
            <div class="form-element">
              <div class="checkbox-group">
                <input type="checkbox" id="checkboxDefault" value="Agreement">
                <label for="checkboxDefault">Default Checkbox</label>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-element">
              <div class="checkbox-group">
                <input type="checkbox" id="checkboxDisabled" value="Agreement" disabled>
                <label for="checkboxDisabled">Disabled</label>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-element">
              <div class="checkbox-group">
                <input type="checkbox" id="checkboxDisabledChecked" value="Agreement" checked disabled>
                <label for="checkboxDisabledChecked">Checked but Disabled</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-0 mt-md-5 pt-3 pb-2">
          <h5 class="heading-secondary">Radio Buttons</h5>
        </div>
        <div class="row d-flex pt-3 pb-2 ">
          <div class="col-4">
            <div class="form-element">
              <div class="radio-group">
                <input type="radio" name="demo" value="one" id="radio-one" class="form-radio" checked>
                <label for="radio-one">Radio</label>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-element">
              <div class="radio-group">
                <input type="radio" name="demo" value="one" id="Radio2" class="form-radio" checked>
                <label for="radio2">Radio2</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-0 mt-md-5 pt-3 pb-2">
          <h5 class="heading-secondary">Toggle Switch</h5>
        </div>
        <div class="row d-flex pt-3 pb-2">
          <div class="col-4">
            <p>Default</p>
            <div class="form-element">
              <label class="toggle-switch">
                <input type="checkbox" />
                <span class="toggle-switch--slider"></span>
              </label>
            </div>
          </div>
          <div class="col-4">
            <p>Disabled</p>
            <div class="form-element">
              <label class="toggle-switch">
                <input type="checkbox" disabled />
                <span class="toggle-switch--slider"></span>
              </label>
            </div>
          </div>
          <div class="col-4">
            <p>Checked and Disabled</p>
            <div class="form-element">
              <label class="toggle-switch">
                <input type="checkbox" checked disabled />
                <span class="toggle-switch--slider"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row d-flex mt-3 pt-3 pb-2">
          <div class="col-4">
            <p>Default</p>
            <div class="form-element">
              <label class="toggle-switch">
                <input type="checkbox" />
                <span class="toggle-switch--slider toggle-switch--slider-rounded"></span>
              </label>
            </div>
          </div>
          <div class="col-4">
            <p>Disabled</p>
            <div class="form-element">
              <label class="toggle-switch">
                <input type="checkbox" disabled />
                <span class="toggle-switch--slider toggle-switch--slider-rounded"></span>
              </label>
            </div>
          </div>
          <div class="col-4">
            <p>Checked and Disabled</p>
            <div class="form-element">
              <label class="toggle-switch">
                <input type="checkbox" checked disabled />
                <span class="toggle-switch--slider toggle-switch--slider-rounded"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row mt-0 mt-md-5 pt-3 pb-2">
          <h5 class="heading-secondary">Multiple options buttons</h5>
        </div>
        <div class="row d-flex mt-3 pt-3 pb-2">
          <div class="col-md-6 mb-4 ">
            <p>1st Variant Pre-Selected</p>
            <span class="form-element">
                  <div class="multi-select-btn multi-select-btn_primary">
                    <label class="multi-select-btn--label cart">
                      <input type="checkbox" value="1" checked>
                      <span class="multi-select-btn--label--text">1</span>
                    </label>
                  </div>
                </span>
            <span class="form-element">
                  <div class="multi-select-btn multi-select-btn_primary">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="2" checked>
                      <span class="multi-select-btn--label--text">ipsum</span>
                    </label>
                  </div>
                </span>
            <span class="form-element">
                  <span class="multi-select-btn multi-select-btn_primary">
                    <label class="multi-select-btn--label ">
                      <input type="checkbox" value="3" checked>
                      <span class="multi-select-btn--label--text" >Option 3</span>
                    </label>
                  </span>
                </span>
          </div>
          <div class="col-md-6 mb-4 ">
            <p>2nd variant Pre-Selected</p>
            <span class="form-element">
                  <div class="multi-select-btn multi-select-btn_secondary">
                    <label class="multi-select-btn--label ">
                      <input type="checkbox" value="1" checked>
                      <span class="multi-select-btn--label--text">Option One</span>
                    </label>
                  </div>
                 </span>
            <span class="form-element">
                  <div class="multi-select-btn multi-select-btn_secondary">
                    <label class="multi-select-btn--label ">
                      <input type="checkbox" value="2" checked>
                      <span class="multi-select-btn--label--text">lorem</span>
                    </label>
                  </div>
                </span>
            <span class="form-element">
                  <span class="multi-select-btn multi-select-btn_secondary">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="3" checked>
                      <span class="multi-select-btn--label--text" >ipsum</span>
                    </label>
                  </span>
                </span>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <p>3rd variant Pre-Selected</p>
            <span class="form-element">
                  <div class="multi-select-btn multi-select-btn_success">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="1" checked>
                      <span class="multi-select-btn--label--text">Sun</span>
                    </label>
                  </div>
                </span>
            <span class="form-element">
                  <div class="multi-select-btn multi-select-btn_success">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="2" checked>
                      <span class="multi-select-btn--label--text">Mon</span>
                    </label>
                  </div>
                </span>
            <span class="form-element">
                  <span class="multi-select-btn multi-select-btn_success">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="3" checked>
                      <span class="multi-select-btn--label--text">Tue</span>
                    </label>
                  </span>
                </span>
            <span class="form-element">
                  <span class="multi-select-btn multi-select-btn_success">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="3" checked>
                      <span class="multi-select-btn--label--text">Wed</span>
                    </label>
                  </span>
                </span>
            <span class="form-element">
                  <span class="multi-select-btn multi-select-btn_success">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="3" checked>
                      <span class="multi-select-btn--label--text">Thu</span>
                    </label>
                  </span>
                </span>
            <span class="form-element">
                  <span class="multi-select-btn multi-select-btn_success">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="3" checked>
                      <span class="multi-select-btn--label--text">Fri</span>
                    </label>
                  </span>
                </span>
            <span class="form-element">
                  <span class="multi-select-btn multi-select-btn_success">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="3" checked>
                      <span class="multi-select-btn--label--text">Sat</span>
                    </label>
                  </span>
                </span>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <p>Not Selected</p>
            <span class="form-element">
                  <div class="multi-select-btn multi-select-btn_success">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="1">
                      <span class="multi-select-btn--label--text">lorem </span>
                    </label>
                  </div>
                </span>
            <span class="form-element">
                  <div class="multi-select-btn multi-select-btn_primary">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="1">
                      <span class="multi-select-btn--label--text"> ipsum</span>
                    </label>
                  </div>
                </span>
            <span class="form-element">
                  <div class="multi-select-btn multi-select-btn_secondary">
                    <label class="multi-select-btn--label">
                      <input type="checkbox" value="1">
                      <span class="multi-select-btn--label--text">Option3</span>
                    </label>
                  </div>
                </span>
          </div>
        </div>
        <div class="row mt-0 mt-md-5 pt-3 pb-2">
          <h5 class="heading-secondary">Dropdown menus</h5>
        </div>
        <div class="row d-flex mt-3 pt-3 pb-2">
          <div class="col-md-4">
            <p>1st variation</p>
            <div class="form-element">
              <div class="dropdown-group">
                <div class="dropdown">
                  <button class="btn gka-button gka-button_primary dropdown-toggle" type="button" id="dropdownMenuBtnPrimary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button>
                  <div class="dropdown-menu gka-dropdown_primary" aria-labelledby="dropdownMenuBtnPrimary">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <p>2nd variant</p>
            <div class="form-element">
              <div class="dropdown-group">
                <div class="dropdown">
                  <button class="btn gka-button gka-button_secondary dropdown-toggle" type="button" id="dropdownMenuBtnSecondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button>
                  <div class="dropdown-menu gka-dropdown_secondary" aria-labelledby="dropdownMenubtn">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-0 mt-md-5 pt-3 pb-2">
          <h5 class="heading-secondary">Text Area Example</h5>
        </div>
        <div class="row d-flex pt-3 pb-2">
          <div class="col-md-4">
            <div class="form-element">
              <div class="gk-text-area-wrapper">
                <div  contenteditable="true"  placeholder="Type something..." class="gk-text-area"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-0 mt-md-5 pt-3 pb-2">
          <h5 class="heading-secondary">Select options</h5>
        </div>
        <div class="row d-flex pt-3 pb-2">
          <div class="col-md-4">
            <p>1st variant</p>
            <div class="form-group form-element">
              <div class="select-group">
                <div class="gka-select1">
                  <select name="slct" id="slct">
                    <option>Choose an option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 offset-md-2">
            <p>2nd variant</p>
            <div class="form-group form-element">
              <div class="select-group">
                <div class="gka-select">
                  <div class="dropdown gka-select--dropdown">
                    <a href="#" class="dropdown-toggle gka-select--toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <span>Choose an Option</span>
                    </a>
                    <ul class="dropdown-menu gka-select--dropdown--menu">
                      <li><a href="#">1st Option</a></li>
                      <li><a href="#" aria-hidden="false" >2nd Option</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
</div>
