.section-title{
  font-size: $section-title;
  font-weight: 500;
}
.heading-primary{
  font-size: 1.6rem;
  font-weight: 300;
}
.heading-secondary{
  font-size: 1.25rem;
  font-weight: 300;
}
.heading-tertiary{
  font-size: 1rem;
  font-weight: 400;
}