.sidebar {
  width: $sidebar-open;
  height: 115vh;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 300; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  transition: all .3s linear;
  overflow: hidden;
  @include breakpoint(mobile){
    width: $sidebar-mobile;
  }

  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  .nav-item{
    box-sizing: border-box;
    .show{
      border-left:$secondary solid 3px;
      background: $grey-lighter;
      color: $black;
      .show{
        border: 0;
        ul{
          li{
            padding: 5px 0;
            a{
              font-size: $plain-text;
            }
          }
        }
      }
    }
    .nav-link {
      font-size: $nav-item;
      font-weight: 300;
      color: $grey-darkest;
      padding: 15px 10px;
      border-left:$grey-lighter solid 3px;
      &:hover{
        border-left:$secondary solid 3px;color: $black;
        .feather {
          color: $black;
        }
      }
      .feather {
        margin-right: 4px;
        color: $grey-darker;
      }
    }
    ul{
      background: $grey-lighter;
      list-style: none;
      padding-left: 35px;
      li{
        padding: 10px 0;
        a{
          font-size: $nav-item;
          color: $black;
          text-decoration: none;
          list-style: none;
          font-weight: 300;
        }
      }
    }
  }
}
