<div role="main" class="col-12 col-md-10">
  <div class="row justify-content-md-center gka-stats mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="d-flex flex-column">
          <div class="card-header">
          2,457
        </div>
          <div class="card-body">
            <h5 class="value">Pending Orders</h5>
          </div>
        </div>
        <div class="card--statics">
          <div class="card--statics_up card--statics_arrow">&#x2191;</div>
          <div class="card--statics_down card--statics_arrow">&#x2193;</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="d-flex flex-column">
          <div class="card-header">
          1,457
        </div>
          <div class="card-body">
          <h5 class="value">Pending Reviews</h5>
        </div>
        </div>
        <div class="card--statics">
          <div class="card--statics_up card--statics_arrow">&#x2191;</div>
          <div class="card--statics_down card--statics_arrow">&#x2193;</div>
        </div>
      </div>
    </div>
  </div>
   
</div>
